<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css">
    <title>로그인페이지</title>
</head>
<body>
<header th:include="header"></header>
<section class="login_content">
    <h2 class="pt-4 pb-3 mt-2 mb-4  border-bottom">로그인</h2>
    <form action="/user/login" method="post">
        <input type="text" name="user_id" id="user_id" class="border rounded-1 mb-4 px-2" placeholder="아이디를 입력해주세요."
               required>
        <input type="text" name="user_pw" id="user_pw" class="border rounded-1 mb-2 px-2" placeholder="비밀번호를 입력해주세요."
               required>
        <div class="form-check text-start mt-2 mb-3">
            <input class="form-check-input" type="checkbox" value="remember-me" id="savedUser" onclick="savedUserId()">
            <label class="form-check-label pt-1" for="savedUser">
                아이디 저장
            </label>
        </div>
        <button class="btn btn-outline-light text-secondary w-100 py-2">로그인</button>
    </form>
    <p class="d-flex justify-content-center text-secondary my-4">
        <small>아이디 찾기</small><small class="mx-2">|</small><small>비밀번호 찾기</small><small
            class="mx-2">|</small><small>회원가입</small>
    </p>
    <h4 class="pt-2 mt-5 mb-4">SNS 로그인</h4>
    <button class="btn btn-outline-light text-secondary w-100"><img src="/img/naver.png" class="float-start"><span
            class="">네이버 계정으로 로그인</span></button>
    <button class="btn btn-outline-light text-secondary w-100 mt-3"><img src="/img/kakao.png" class="float-start"><span>카카오 계정으로 로그인</span>
    </button>
</section>
<footer th:include="footer"></footer>
<script src="/js/login.js"></script>

</body>
</html>