<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/orderListDetail.css">
    <title>주문상세조회페이지</title>
</head>
<body>
<header th:include="header"></header>
<section class="orderListDetail-content">
    <div class="float-end">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item small"><a href="#" class="text-black">Home</a></li>
                <li class="breadcrumb-item active small" aria-current="page">주문상세조회</li>
            </ol>
        </nav>
    </div>
    <h3 class="pt-5 mt-2 mb-5 text-center fw-bold">주문상세조회</h3>

    <p class="small">주문정보</p>
    <table class="table border-top border-bottom mb-5 align-middle" th:each="order : ${orderDTO}">
        <input type="hidden" id="user_num" th:value="${order.user_num}">
        <tr>
            <td class="w-25 border-end ps-3">주문번호</td>
            <td class="w-75 ps-2"><small th:text="${order.order_num}">20230424-1</small></td>
        </tr>
        <tr>
            <td class="w-25 border-end ps-3">주문일자</td>
            <td class="w-75 ps-2"><small th:text="${#dates.format(order.order_date, 'yyyy-MM-dd')}">2024-04-24 </small>
            </td>
        </tr>
        <tr>
            <td class="w-25 border-end ps-3">주문자</td>
            <td class="w-75 ps-2"><small th:text="${order.order_userName}">유고운</small></td>
        </tr>
        <tr>
            <td class="w-25 border-end ps-3">주문처리상태</td>
            <td class="w-75 ps-2"><small th:text="${order.order_status[0]}"></small></td>
        </tr>
    </table>

    <p class="small">결제정보</p>
    <table class="table border-top border-bottom align-middle mb-5" th:each="order :${orderDTO}">
        <tr>
            <td class="w-25 border-end ps-3 fw-bold">총 상품구매금액</td>
            <td class="w-75 ps-2"><span th:text="${total_product}" id="total_product" class="order-price"></span><small>
                원</small></td>
        </tr>
        <tr>
            <td class="w-25 border-end ps-3 fw-bold">총 결제금액</td>
            <td class="w-75 ps-2 fw-bold">
                <span th:text="${order.order_price}" id="total_pay" class="order-price"></span><small> 원</small>
            </td>
        </tr>
        <tr>
            <td class="w-25 border-end ps-3">결제 수단</td>
            <td class="w-75 ps-2"><small th:text="${order.order_paymethod}"></small><br></td>
        </tr>
    </table>

    <div class="mb-3">
        <p class="small">주문 상품 정보</p>
        <table class="table border-top border-bottom align-middle text-center product-info"
               th:each="order,iterStat:${orderDTO}">
            <tr>
                <td class="order-img">이미지</td>
                <td class="order-info">상품정보</td>
                <td class="order-cnt">수량</td>
                <td class="order-price">상품구매금액</td>
                <td class="order-process">주문처리상태</td>
                <td class="order-cancle">취소/교환/반품</td>
            </tr>
            <tr th:each="orderPro,iterStat:${orderProductList}">
                <td>
                    <a th:href="@{|/productDetail/${order.product_num[iterStat.index]}|}">
                        <img th:src="@{|/upload/${product_img[iterStat.index]}|}" class="table-img">
                    </a>
                </td>
                <td class="text-start ps-3">
                    <a th:href="@{|/productDetail/${order.product_num[iterStat.index]}|}">
                        <span th:text="${product_name[iterStat.index]}"></span>
                    </a>
                </td>
                <td th:text="${order.order_cnt[iterStat.index]}">1</td>
                <td th:text="${order.order_oprice[iterStat.index]}" class="order-price">50,000원</td>
                <td th:text="${order.order_status[0]}">입금전</td>
                <td>-</td>
            </tr>
            <tr>
                <td colspan="6" class="text-end">상품구매금액 <span th:text="${total_product}" class="order-price"></span> +
                    배송비
                    <span th:text="${order.order_deliveryfee}" class="order-price"></span> + 추가 할인금액 <span
                            th:text="${order.order_saleprice}" class="order-price"></span> = 합계 <span
                            class="fw-bold fs-5 order-price" th:text="${order.order_price}"></span> 원
                </td>
            </tr>
        </table>
        <input type="hidden" th:value="${product_num}" id="product_num">
        <button type="button" class="btn btn-outline-secondary  mb-5 float-end" th:if="${product_num}!='null' "
                data-bs-toggle="modal"
                data-bs-target="#reviewModal" onclick="review()">리뷰 쓰기
        </button>
    </div>
    <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="cart" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    리뷰 작성^ㅇ^
                    <button type="button" class="btn-close"></button>
                </div>
                <div class="modal-body p-3 ">
                    <p class="bold">리뷰할 상품을 선택해주세요!</p>
                    <div id="modal-content" class="my-2 py-1" th:each="review,iterStat:${orderProductList}">
                        <input type="checkbox" name="select_product" th:value="${product_num[iterStat.index]}">
                        <img th:src="@{|/upload/${product_img[iterStat.index]}|}"
                             th:value="${product_img[iterStat.index]}">
                        <span th:text="${product_name[iterStat.index]}"></span>
                        <input type="hidden" th:value="${product_num[iterStat.index]}"/>
                    </div>
                    <p class="bold my-1">리뷰제목</p>
                    <input type="text" id="review_title" class="w-100 py-1">
                    <p class="bold mt-2 my-1">리뷰내용</p>
                    <textarea rows="5" id="review_content" class="w-100"></textarea>
                    <p class="bold my-1">포토리뷰</p>
                    <input type="file" name="review_imgfile" class="file mb-1" multiple>
                    <div class="preview-box">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                            onclick="addReview()">리뷰 작성
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="review" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close"></button>
                </div>
                <div class="modal-body p-3 text-center">
                    <p class="bold fs-5" id="result"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal"
                            onclick="checkReview()">작성한 리뷰 확인
                    </button>
                </div>
            </div>
        </div>
    </div>
    <p class="small mt-5">배송지정보</p>
    <table class="table border-top border-bottom align-middle mb-5" th:each="delivery:${deliveryDTO}">
        <tr>
            <td class="w-25 border-end ps-3">받으시는 분</td>
            <td class="w-75 ps-2"><small th:text="${delivery.delivery_userName}">유고운</small></td>
        </tr>
        <tr>
            <td class="w-25 border-end ps-3">우편번호</td>
            <td class="w-75 ps-2" th:text="${delivery.delivery_zipcode}">01000</small></td>
        </tr>
        <tr>
            <td class="w-25 border-end ps-3">주소</td>
            <td class="w-75 ps-2"><small th:text="${delivery.delivery_addr}+${delivery.delivery_addrDetail}">서울시 금천구
                독산동</small></td>
        </tr>
        <tr>
            <td class="w-25 border-end ps-3">전화번호</td>
            <td class="w-75 ps-2">
                <small th:text="${delivery.delivery_userTel1}">010-3394-8775</small>
                <small th:if="${delivery.delivery_userTel2}!=null"
                       th:text="${delivery.delivery_userTel2}">010-3394-8775</small>
            </td>
        </tr>
        <tr>
            <td class="w-25 border-end ps-3">배송메세지</td>
            <td class="w-75 ps-2"><small th:text="${delivery.delivery_req}">조심히 안전하게 와주세요~^ㅇ^</small></td>
        </tr>
    </table>
    <button class="btn btn-outline-success float-end" type="button" onclick="orderList()">주문목록보기</button>
</section>
<footer th:include="footer"></footer>
<script src="/js/orderListDetail.js"></script>
</body>
</html>