<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/orderList.css">
    <title>주문조회페이지</title>
</head>
<body>
<header th:include="header"></header>
<section class="content">
    <div class="productDetail-breadcrumb float-end">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item small"><a href="#" class="text-black">Home</a></li>
                <li class="breadcrumb-item active small" aria-current="page">주문조회</li>
            </ol>
        </nav>
    </div>
    <h3 class="pt-5 mt-2 mb-5 text-center fw-bold">주문조회</h3>
    <div class="d-flex justify-content-around mt-5 mb-2 pb-2 ">
        <span>주문내역조회</span>
        <span>취소내역</span>
        <div><input type="date" name=""><span class="mx-3">~</span><input type="date">
            <button class="btn btn-outline-secondary btn-sm ms-1">조회</button>
        </div>
    </div>
    <small class="text-secondary">- 주문번호를 클릭하시면 해당주문에 대한 상세내역을 확인하실 수 있습니다.</small><br>
    <small class="text-secondary">- 취소/교환/반품 신청은 배송완료일 기준 7일까지 가능합니다.</small>

    <table class="table border-top border-bottom align-middle text-center">
        <tr>
            <th class="order-date">주문일자<br>[주문번호]</th>
            <th class="order-img">이미지</th>
            <th class="order-info">상품정보</th>
            <th class="order-price">상품구매금액</th>
            <th class="order-process">주문처리상태</th>
            <th class="order-cancle">취소/교환/반품</th>
        </tr>

        <tr th:each="order,iterStat :${orderDTOList}">
            <input type="hidden" id="user_num" th:value="${order.user_num}">
            <td class="order-date">
                <span th:text="${order.order_num}"></span><br>
                <span><a th:href="@{|/my/orderListDetail/${order.order_num}|}"
                         th:text="'['+${#dates.format(order.order_date, 'yyyy-MM-dd')}+'-'+${order.order_num}+']'"></a></span>
            </td>
            <td><img th:src="@{|/upload/${product_img[iterStat.index]}|}" class="table-img product_img"
                     th:value="${product_img[iterStat.index]}"></td>
            <td class="text-start product-name">
                <span th:text="${product_name[iterStat.index]}"></span>
                <span th:if="${product_count[iterStat.index] > 0}"
                      th:text="' 외 ' + ${product_count[iterStat.index]} + '건'"></span>
            </td>
            <td th:text="${order.order_oprice[0]+'원'}" class="order-price"></td>
            <td th:text="${order.order_status[0]}" class="order-status">입금전
            </td>
            <td>-</td>
        </tr>
    </table>

    <div class="d-flex justify-content-center pt-5">
        <ul class="pagination">
            <li class="page-item"><i class="bi bi-chevron-double-left"></i></li>
            <li class="page-item"><i class="bi bi-chevron-left"></i></li>
            <li class="page-item"><span>1</span></li>
            <li class="page-item"><i class="bi bi-chevron-right"></i></li>
            <li class="page-item"><i class="bi bi-chevron-double-right"></i></li>
        </ul>
    </div>

</section>
<footer th:include="footer"></footer>
</body>
</html>