<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>푸터</title>
    <style>
        .footer-fontSize{
            font-size:12.5px;
            color :#6c757d;
        }
        img{
            width:100px;
            height:60px;
        }
    </style>
</head>
<body>
<section>
    <div class="footer">
        <footer>
            <small class="text-secondary">반품 배송비, 반품 배송주소 등은 해당 상품 페이지 내 안내를 참고해주세요. 콩떡몰 유고운<button class="btn btn-sm">인증</button></small>
            <div class="d-flex ">
                <small>콩떡몰 약관</small>
                <small class="px-2 text-secondary">|</small>
                <small>콩떡몰 네이버페이 이용약관</small>
                <small class="px-2 text-secondary">|</small>
                <small>전자금융거래 이용약관</small>
                <small class="px-2 text-secondary">|</small>
                <small class="fw-bold">개인정보처리방침</small>
                <small class="px-2 text-secondary">|</small>
                <small>책임의 한계와 법적고지</small>
                <small class="px-2 text-secondary">|</small>
                <small>청소년보호정책</small>
                <small class="px-2 text-secondary">|</small>
                <small>권리보호센터</small>
                <small class="px-2 text-secondary">|</small>
                <small>안전거래 가이드</small>
                <small class="px-2 text-secondary">|</small>
                <small>쇼핑&페이 고객센터</small>
                <small class="px-2 text-secondary">|</small>
            </div>
            <div class="container-expand py-3">
                <div class="row">
                    <div class="col-5 text-start">
                        <small class="fw-bold">콩떡몰(주)</small>
                        <div class="footer-fontSize">
                            <span>대표이사 유고운</span><span class="px-2">|</span>
                            <span>서울시 금천구 독산동 어딘가, 콩떡몰</span>
                        </div>
                        <div class="footer-fontSize">
                            <span>전화번호 010-3394-8775</span><span class="px-2">|</span>
                            <span>이메일 rhdnsd409@naver.com</span><span class="px-2">|</span>
                            <span>사업자등록정보 확인</span>
                        </div>
                    </div>

                    <div class="col-2 mx-4">
                        <small class="fw-bold">고객센터</small>
                        <div class="footer-fontSize">
                            <span>서울시 금천구 독산동 또 어딘가</span>
                        </div>
                        <div class="footer-fontSize">
                            <span>전화 010-3394-8775</span>
                        </div>
                        <div class="footer-fontSize">
                            <span>결제도용신고 010-3394-8775</span>
                        </div>
                        <div class="footer-fontSize">
                            <span>1:1문의 바로가기</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <small class="fw-bold">전자금융거래 분쟁처리</small>
                        <div class="footer-fontSize">
                            <span>전화 010-3394-8775</span>
                        </div>
                        <div class="footer-fontSize">
                            <span>1:1문의 바로가기</span>
                        </div>
                    </div>
                </div><!--row 끝-->
            </div><!--container 끝-->

            <img src="/img/logo.png"><small class="text-secondary">Copyright ©콩떡몰 Corp.All Rights Reserved.</small>
        </footer>
    </div>
</section>
</body>
</html>