body{
    width: 1280px;
    max-width:1280px;
    margin: auto !important;
}
.content{
    min-height: calc(100% - (285px + 245px));
    padding-bottom:100px;
}
.postHeader{
    height:70px;
}
.All-product-img{
    width:232px;
    height:232px;
}
.price{
    height:30px;
    font-size:14px;
}