.container-fluid{
    padding: 0px !important;
}

.postHeader{
    height:70px;
}
.All-product-img{
    width:240px;
    height:240px;
    margin:0px 50px 10px 0px;
}
.All-product-img:nth-last-child(1){
    margin-right:0;
}
.productLine{
    max-height: 400px;
    min-height: 200px;
}
.product{
    width:290px;
}
.price{
    height:30px;
    font-size:14px;
}

a{
    text-decoration: none !important;
    color: inherit !important   ; /* 부모 요소의 텍스트 색상을 상속 */
}