.postHeader{
    height:70px;
}
.All-product-img{
    width:232px;
    height:232px;
}
.price{
    height:30px;
    font-size:14px;
}
a{
    text-decoration: none !important;
    color: inherit !important   ; /* 부모 요소의 텍스트 색상을 상속 */
}