.product {
    margin: 10px 0px 10px 0px;
    display: flex;
}

.label {
    width: 140px;
}

.img {
    width: 130px;
    height: 100px;
}
.image-container {
    padding-left: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap : 10px;
}

.imagebox {
    width: 200px;
    height: 150px;
    flex : 0 0 200px;
    box-sizing: border-box;
}