<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/productList.css">
    <title>콩떡몰 상품리스트</title>
</head>
<body>
<header th:include="header"></header>
<section class="content">
    <div class="d-flex justify-content-between align-items-center border-bottom border-black postHeader">
        <h3 class="my-5">베스트</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb pt-4">
                <li class="breadcrumb-item small"><a href="#" class="text-black">Home</a></li>
                <li class="breadcrumb-item active small" aria-current="page">베스트</li>
            </ol>
        </nav>
    </div>
    <div class="d-flex mt-3 text-secondary"> <!--필터 -->
        <small>인기도순</small>
        <small class="px-2">|</small>
        <small>최신등록순</small>
        <small class="px-2">|</small>
        <small>낮은가격순</small>
        <small class="px-2">|</small>
        <small>높은가격순</small>
        <small class="px-2">|</small>
        <small>할인율순</small>
        <small class="px-2">|</small>
        <small>누적판매순</small>
    </div><!--필터 끝-->
    <div class="container-fluid">
        <div class="d-flex flex-wrap">
            <!-- 상품 리스트 반복 -->
            <div th:each="row : ${productList}">
                <div class="d-flex my-4">
                    <div class="product" th:each="product : ${row}">
                        <a href="/productDetail">
                            <img th:src="@{|/upload/${product.product_img}|}" class="All-product-img" alt="상품이미지">
                            <h5 class="fw-bold my-2" th:text="${product.product_name}"></h5>
                            <div class="d-flex price">
                                <p class="fw-bold text-danger" th:text="${product.product_rate}+'%'"></p>
                                <p class="fw-bold mx-2" th:text="${product.product_sprice}"></p>
                                <del class="text-secondary small" th:text="${product.product_oprice}">500,000원</del>
                            </div>
                            <small class="text-secondary" th:text="${product.product_content}"></small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:include="footer"></footer>
</body>
</html>