<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/productList.css">
    <title>콩떡몰 상품리스트</title>
</head>
<body>
<header th:include="header"></header>
<section class="content">
    <div class="d-flex justify-content-between align-items-center border-bottom border-black postHeader">
        <h3 class="my-5" th:if="${category!=null}" th:text="${category}"></h3>
        <input type="hidden" id="category_num" th:value="${category_num}">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb pt-4">
                <li class="breadcrumb-item small"><a href="#" class="text-black">Home</a></li>
                <li class="breadcrumb-item active small" aria-current="page" th:text="${category}"></li>
            </ol>
        </nav>
    </div>
    <div class="d-flex mt-3 text-secondary"> <!--필터 -->
        <small class="sort-option" data-sort="new">최신등록순</small>
        <small class="px-2">|</small>
        <small class="sort-option" data-sort="lowPrice">낮은가격순</small>
        <small class="px-2">|</small>
        <small class="sort-option" data-sort="highPrice">높은가격순</small>
        <small class="px-2">|</small>
        <small class="sort-option" data-sort="lowRate">낮은할인율순</small>
        <small class="px-2">|</small>
        <small class="sort-option" data-sort="highRate">높은할인율순</small>
    </div><!--필터 끝-->
    <div class="container-fluid" th:fragment="productList">
        <div class="d-flex flex-wrap" id="productList">
            <!-- 상품 리스트 반복 -->
            <div th:each="row : ${productList}" class="productLine">
                <div class="d-flex my-4">
                    <div class="product" th:each="product : ${row}">
                        <a th:href="@{|/productDetail/${product.product_num}|}">
                            <img th:src="@{|/upload/${product.product_img}|}" class="All-product-img" alt="상품이미지">
                            <h5 class="fw-bold my-2" th:text="${product.product_name}"></h5>
                            <div class="d-flex price">
                                <p class="fw-bold text-danger" th:text="${product.product_rate}+'%'"></p>
                                <p class="fw-bold mx-2" th:text="${product.product_sprice}"></p>
                                <del class="text-secondary small" th:text="${product.product_oprice}">500,000원</del>
                            </div>
                            <small class="text-secondary" th:utext="${product.product_info}"></small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:include="footer"></footer>
</body>
<script src="/js/productList.js"></script>
</html>